USE [ResigestDB]
GO
/****** Object:  Table [dbo].[Creditos]    Script Date: 22/4/2025 09:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creditos](
	[credito_ID] [int] IDENTITY(1,1) NOT NULL,
	[Cedula_P] [nvarchar](10) NOT NULL,
	[monto_maximo] [decimal](10, 2) NOT NULL,
	[saldo_actual] [decimal](10, 2) NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[fecha_vencimiento] [date] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[credito_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitaciones]    Script Date: 22/4/2025 09:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitaciones](
	[habitacion_ID] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](10) NOT NULL,
	[tipo_ID] [int] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[habitacion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosCredito]    Script Date: 22/4/2025 09:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosCredito](
	[movimiento_ID] [int] IDENTITY(1,1) NOT NULL,
	[credito_ID] [int] NOT NULL,
	[tipo_movimiento] [varchar](20) NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fecha_movimiento] [datetime] NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[movimiento_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ocupaciones]    Script Date: 22/4/2025 09:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ocupaciones](
	[ocupacion_ID] [int] IDENTITY(1,1) NOT NULL,
	[habitacion_ID] [int] NOT NULL,
	[Cedula_P] [nvarchar](10) NOT NULL,
	[fecha_entrada] [datetime] NULL,
	[fecha_salida] [datetime] NULL,
	[uso_credito] [bit] NULL,
	[credito_ID] [int] NULL,
	[estado] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ocupacion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 22/4/2025 09:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Cedula_P] [nvarchar](10) NOT NULL,
	[Nombre_P] [nvarchar](30) NOT NULL,
	[Apellido_P] [nvarchar](30) NULL,
	[Telefono_P] [nvarchar](12) NOT NULL,
	[Correo_P] [nvarchar](50) NOT NULL,
	[Fecha_Registro_P] [datetime] NULL,
	[Fecha_Nacimiento_p] [datetime] NULL,
	[Contrasenna_P] [nvarchar](100) NULL,
	[rol_ID] [int] NOT NULL,
 CONSTRAINT [PK_Cedula_P] PRIMARY KEY CLUSTERED 
(
	[Cedula_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 22/4/2025 09:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[rol_ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposHabitacion]    Script Date: 22/4/2025 09:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposHabitacion](
	[tipo_ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[precio_por_noche] [decimal](10, 2) NOT NULL,
	[Descripcion] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[tipo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Creditos] ON 

INSERT [dbo].[Creditos] ([credito_ID], [Cedula_P], [monto_maximo], [saldo_actual], [fecha_creacion], [fecha_vencimiento], [estado]) VALUES (3, N'123456789', CAST(50000.00 AS Decimal(10, 2)), CAST(2500.00 AS Decimal(10, 2)), CAST(N'2025-04-16T10:30:00.000' AS DateTime), CAST(N'2025-04-30' AS Date), N'Vencido')
INSERT [dbo].[Creditos] ([credito_ID], [Cedula_P], [monto_maximo], [saldo_actual], [fecha_creacion], [fecha_vencimiento], [estado]) VALUES (54, N'123456789', CAST(1.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), CAST(N'2025-04-18T17:50:32.210' AS DateTime), CAST(N'2025-04-16' AS Date), N'Activo')
INSERT [dbo].[Creditos] ([credito_ID], [Cedula_P], [monto_maximo], [saldo_actual], [fecha_creacion], [fecha_vencimiento], [estado]) VALUES (56, N'123456789', CAST(1111.00 AS Decimal(10, 2)), CAST(1111.00 AS Decimal(10, 2)), CAST(N'2025-04-19T01:21:51.050' AS DateTime), CAST(N'2025-04-19' AS Date), N'Activo')
SET IDENTITY_INSERT [dbo].[Creditos] OFF
GO
SET IDENTITY_INSERT [dbo].[Habitaciones] ON 

INSERT [dbo].[Habitaciones] ([habitacion_ID], [numero], [tipo_ID], [estado]) VALUES (1, N'101', 1, N'Disponible')
INSERT [dbo].[Habitaciones] ([habitacion_ID], [numero], [tipo_ID], [estado]) VALUES (4, N'402', 2, N'Disponible')
INSERT [dbo].[Habitaciones] ([habitacion_ID], [numero], [tipo_ID], [estado]) VALUES (5, N'100', 1, N'disponible')
SET IDENTITY_INSERT [dbo].[Habitaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[MovimientosCredito] ON 

INSERT [dbo].[MovimientosCredito] ([movimiento_ID], [credito_ID], [tipo_movimiento], [monto], [fecha_movimiento], [descripcion]) VALUES (6, 3, N'Consumo', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-04-19T00:00:00.000' AS DateTime), N'asdf')
INSERT [dbo].[MovimientosCredito] ([movimiento_ID], [credito_ID], [tipo_movimiento], [monto], [fecha_movimiento], [descripcion]) VALUES (7, 54, N'Ajuste', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-04-21T22:12:55.000' AS DateTime), N'1dasd')
SET IDENTITY_INSERT [dbo].[MovimientosCredito] OFF
GO
SET IDENTITY_INSERT [dbo].[Ocupaciones] ON 

INSERT [dbo].[Ocupaciones] ([ocupacion_ID], [habitacion_ID], [Cedula_P], [fecha_entrada], [fecha_salida], [uso_credito], [credito_ID], [estado]) VALUES (4, 1, N'123456789', CAST(N'2025-04-16T00:00:00.000' AS DateTime), CAST(N'2025-04-16T00:00:00.000' AS DateTime), 0, 3, N'Cancelado')
INSERT [dbo].[Ocupaciones] ([ocupacion_ID], [habitacion_ID], [Cedula_P], [fecha_entrada], [fecha_salida], [uso_credito], [credito_ID], [estado]) VALUES (5, 1, N'123456789', CAST(N'2025-04-22T22:24:00.000' AS DateTime), CAST(N'2025-04-24T22:24:00.000' AS DateTime), 0, 3, N'Activo')
SET IDENTITY_INSERT [dbo].[Ocupaciones] OFF
GO
INSERT [dbo].[Personas] ([Cedula_P], [Nombre_P], [Apellido_P], [Telefono_P], [Correo_P], [Fecha_Registro_P], [Fecha_Nacimiento_p], [Contrasenna_P], [rol_ID]) VALUES (N'1234564531', N'asd', N'jimenez', N'12345678', N'admin2@gmail.com', CAST(N'2025-04-22T09:20:26.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 1)
INSERT [dbo].[Personas] ([Cedula_P], [Nombre_P], [Apellido_P], [Telefono_P], [Correo_P], [Fecha_Registro_P], [Fecha_Nacimiento_p], [Contrasenna_P], [rol_ID]) VALUES (N'1234564532', N'Fabianaaaa', N'jimenez', N'12345678', N'Fabian1@gmail.com', CAST(N'2025-04-21T17:14:50.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 1)
INSERT [dbo].[Personas] ([Cedula_P], [Nombre_P], [Apellido_P], [Telefono_P], [Correo_P], [Fecha_Registro_P], [Fecha_Nacimiento_p], [Contrasenna_P], [rol_ID]) VALUES (N'123456788', N'Juan', N'Pérez', N'88888888', N'admin1@gmail.com', CAST(N'2025-04-15T00:00:00.000' AS DateTime), CAST(N'2000-05-15T00:00:00.000' AS DateTime), N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 1)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([rol_ID], [nombre_rol], [descripcion]) VALUES (1, N'Administrador', N'Acceso completo al sistema')
INSERT [dbo].[Roles] ([rol_ID], [nombre_rol], [descripcion]) VALUES (2, N'Empleado', N'Puede gestionar créditos')
INSERT [dbo].[Roles] ([rol_ID], [nombre_rol], [descripcion]) VALUES (3, N'Cliente', N'Usuario con capacidad de tener crédito')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposHabitacion] ON 

INSERT [dbo].[TiposHabitacion] ([tipo_ID], [nombre], [precio_por_noche], [Descripcion]) VALUES (1, N'Economica', CAST(45000.00 AS Decimal(10, 2)), N'Habitacion sencilla con cama individual')
INSERT [dbo].[TiposHabitacion] ([tipo_ID], [nombre], [precio_por_noche], [Descripcion]) VALUES (2, N'Estandar', CAST(70000.00 AS Decimal(10, 2)), N'Habitacion con cama doble y baño privado')
INSERT [dbo].[TiposHabitacion] ([tipo_ID], [nombre], [precio_por_noche], [Descripcion]) VALUES (3, N'Ejecutiva', CAST(120000.00 AS Decimal(10, 2)), N'Amplia habitacion con escritorio y amenities')
SET IDENTITY_INSERT [dbo].[TiposHabitacion] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Habitaci__FC77F211B16C0340]    Script Date: 22/4/2025 09:28:08 ******/
ALTER TABLE [dbo].[Habitaciones] ADD UNIQUE NONCLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Personas_Correo]    Script Date: 22/4/2025 09:28:08 ******/
ALTER TABLE [dbo].[Personas] ADD  CONSTRAINT [UQ_Personas_Correo] UNIQUE NONCLUSTERED 
(
	[Correo_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__673CB43570D6A40A]    Script Date: 22/4/2025 09:28:08 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Creditos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Creditos] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Habitaciones] ADD  DEFAULT ('Disponible') FOR [estado]
GO
ALTER TABLE [dbo].[MovimientosCredito] ADD  DEFAULT (getdate()) FOR [fecha_movimiento]
GO
ALTER TABLE [dbo].[Ocupaciones] ADD  DEFAULT (getdate()) FOR [fecha_entrada]
GO
ALTER TABLE [dbo].[Ocupaciones] ADD  DEFAULT ((0)) FOR [uso_credito]
GO
ALTER TABLE [dbo].[Personas] ADD  DEFAULT ((3)) FOR [rol_ID]
GO
ALTER TABLE [dbo].[Creditos]  WITH CHECK ADD  CONSTRAINT [FK_Creditos_Personas] FOREIGN KEY([Cedula_P])
REFERENCES [dbo].[Personas] ([Cedula_P])
GO
ALTER TABLE [dbo].[Creditos] CHECK CONSTRAINT [FK_Creditos_Personas]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH CHECK ADD FOREIGN KEY([tipo_ID])
REFERENCES [dbo].[TiposHabitacion] ([tipo_ID])
GO
ALTER TABLE [dbo].[MovimientosCredito]  WITH CHECK ADD  CONSTRAINT [FK_Movimientos_Creditos] FOREIGN KEY([credito_ID])
REFERENCES [dbo].[Creditos] ([credito_ID])
GO
ALTER TABLE [dbo].[MovimientosCredito] CHECK CONSTRAINT [FK_Movimientos_Creditos]
GO
ALTER TABLE [dbo].[Ocupaciones]  WITH CHECK ADD FOREIGN KEY([Cedula_P])
REFERENCES [dbo].[Personas] ([Cedula_P])
GO
ALTER TABLE [dbo].[Ocupaciones]  WITH CHECK ADD FOREIGN KEY([credito_ID])
REFERENCES [dbo].[Creditos] ([credito_ID])
GO
ALTER TABLE [dbo].[Ocupaciones]  WITH CHECK ADD FOREIGN KEY([habitacion_ID])
REFERENCES [dbo].[Habitaciones] ([habitacion_ID])
GO
ALTER TABLE [dbo].[Personas]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Roles] FOREIGN KEY([rol_ID])
REFERENCES [dbo].[Roles] ([rol_ID])
GO
ALTER TABLE [dbo].[Personas] CHECK CONSTRAINT [FK_Personas_Roles]
GO
ALTER TABLE [dbo].[Creditos]  WITH CHECK ADD  CONSTRAINT [CHK_Estado] CHECK  (([estado]='Cancelado' OR [estado]='Vencido' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[Creditos] CHECK CONSTRAINT [CHK_Estado]
GO
ALTER TABLE [dbo].[MovimientosCredito]  WITH CHECK ADD  CONSTRAINT [CHK_TipoMovimiento] CHECK  (([tipo_movimiento]='Ajuste' OR [tipo_movimiento]='Pago' OR [tipo_movimiento]='Consumo' OR [tipo_movimiento]='Asignación'))
GO
ALTER TABLE [dbo].[MovimientosCredito] CHECK CONSTRAINT [CHK_TipoMovimiento]
GO
